/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, input, button {
	outline: none;
}

a {
	background-color: transparent;
	text-decoration: underline;
	-webkit-text-decoration-skip: objects;
}

input, button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 480px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #222;
	cursor: default;
}

.main_wrapper {
	margin: 0 auto;
	width: 480px;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

/* bold */

b {
	font-weight: 700;
}

/* button */

.button {
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 74px;
	background-color: #32c2e3;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 74px;
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.button:before {
	display: block;
	content: '';
	width: 100%;
	height: 27px;
	background: url("../img/offer__shadow.png") center top no-repeat;
	cursor: default;
	position: absolute;
	left: 0;
	bottom: -27px;
}

/* titles */

h2 {
	font-weight: 700;
	font-size: 27px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
}

/* offer */

.offer_section {
	padding: 0 0 35px 0;
	background: #1c1c1c url("../img/bg_dark.jpg");
}

.offer_section .title_block {
	padding: 15px;
	background-color: #32c2e3;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.offer_section .title_block .main_title {
	margin: 5px 0 9px 0;
	font-weight: 700;
	font-size: 29px;
	line-height: 1em;
	letter-spacing: 0;
}

.offer_section .title_block p {
	font-size: 13px;
	line-height: 18px;
	padding: 5px 0 11px;
}

.offer_section img {
	display: block;
}

.offer_section .price_block {
	position: relative;
}

.offer_section .price_block:before {
	display: block;
	content: '';
	width: 100%;
	height: 27px;
	background: url("../img/offer__shadow.png") center top no-repeat;
	cursor: default;
	position: absolute;
	left: 0;
	bottom: -27px;
}

.offer_section .price_block .price_item {
	float: left;
	width: 186px;
	height: 62px;
	font-weight: 700;
	font-size: 30px;
	line-height: 62px;
	text-align: center;
}

.offer_section .price_block .price_item.old {
	margin: 0 108px 0 0;
	background: #fff;
	text-decoration: line-through;
}

.offer_section .price_block .price_item.new {
	background: #32c2e3;
	color: #fff;
}

.offer_section .price_block .discount {
	padding: 5px 0 0 0;
	width: 143px;
	height: 95px;
	background: url("../img/offer__discount_bg.png") center no-repeat;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -72px;
}

.offer_section .price_block .discount span {
	font-size: 38px;
}

.offer_section .timer_block {
	margin: 50px auto 30px auto;
	width: 340px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.offer_section .timer_block p {
	margin: 0 0 15px 0;
	font-size: 18px;
}

.offer_section .timer_block .timer_item {
	float: left;
	padding: 18px 0 0 0;
	width: 96px;
	height: 96px;
	border: 1px solid rgba(255,255,255,0.25);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.offer_section .timer_block .timer_item:nth-child(2) {
	margin: 0 26px;
	position: relative;
}

.offer_section .timer_block .timer_item:nth-child(2):before,
.offer_section .timer_block .timer_item:nth-child(2):after {
	display: block;
	content: ':';
	width: 26px;
	font-size: 36px;
	line-height: 84px;
	position: absolute;
	top: 0;
}

.offer_section .timer_block .timer_item:nth-child(2):before {
	left: -27px;
}

.offer_section .timer_block .timer_item:nth-child(2):after {
	right: -27px;
}

.offer_section .timer_block .count {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #f33d58;
}

.offer_section .timer_block .text {
	font-size: 14px;
}

.offer_section .input {
	display: block;
	margin: 0 auto 20px auto;
	padding: 0 20px;
	width: 400px;
	height: 64px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #222;
	text-align: center;
}

.offer_section .input::-webkit-input-placeholder {
	opacity: 1;
	color: #222;
}

.offer_section .input:-moz-placeholder {
	opacity: 1;
	color: #222;
}

.offer_section .input::-moz-placeholder {
	opacity: 1;
	color: #222;
}

.offer_section .input:-ms-input-placeholder {
	opacity: 1;
	color: #222;
}

.offer_section .input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.offer_section .input:focus:-moz-placeholder {
	opacity: 0;
}

.offer_section .input:focus::-moz-placeholder {
	opacity: 0;
}

.offer_section .input:focus:-ms-input-placeholder {
	opacity: 0;
}

/* about */

.about_section {
	padding: 25px 0 21px 0;
}

.about_section h2 {
	margin: 0 0 25px 0;
	padding: 0 20px;
	color: #32c2e3;
}

.about_section h2 small {
	display: block;
	font-size: 24px;
	line-height: 30px;
	color: #222;
}

.about_section img {
	display: block;
	margin: 0 0 26px 0;
}

.about_section p {
	padding: 0 20px;
	text-align: center;
}

/* set */

.set_section {
	padding: 0 0 20px 0;
}

.set_section h2 {
	margin: 25px 0 25px 0;
	padding: 0 20px;
}

.set_section img {
	display: block;
	margin: 0 auto 35px auto;
}

.set_section ul li {
	padding: 10px 30px 10px 80px;
	background-position: 30px 8px;
	background-repeat: no-repeat;
	font-size: 15px;
}

.set_section ul li:nth-child(odd) {
	background-color: #efefef;
}

/* characteristics */

.characteristics_section {
	padding: 25px 0 30px 0;
	background: #1c1c1c url("../img/bg_dark.jpg");
}

.characteristics_section h2 {
	margin: 0 0 25px 0;
	padding: 0 20px;
	color: #32c2e3;
}

.characteristics_section h2 small {
	display: block;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}

.characteristics_section img {
	display: block;
	margin: 0 0 26px 0;
}

.characteristics_section ul {
	padding: 0 20px;
}

.characteristics_section ul li {
	margin: 0 0 11px 0;
	padding: 0 0 16px 0;
	font-weight: 700;
	color: #fff;
	background: url("../img/characteristics__separator.png") center bottom no-repeat;
}

.characteristics_section ul li:last-child {
	margin: 0;
	padding: 0;
	background: none;
}

.characteristics_section ul li span {
	color: #32c2e3;
}

/* reviews */

.reviews_section {
	padding: 25px 20px 30px 20px;
	background: #f3f3f3;
	text-align: center;
}

.reviews_section h2 {
	margin: 0 0 25px 0;
	font-size: 30px;
	line-height: 36px;
}

.reviews_section .review_item img {
	display: block;
	margin: 78px auto 0;
	width: 100px !important;
	border: 6px solid #e8b6b8;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #e8b6b8;
}

.reviews_section .review_item .author_name {
	margin: 15px 0 10px 0;
	font-weight: 700;
	font-size: 18px;
	color: #32c2e3;
	text-transform: uppercase;
}

.reviews_section .owl-prev,
.reviews_section .owl-next {
	width: 25px;
	height: 41px;
	background-image: url("../img/reviews__arrows.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 104px;
}

.reviews_section .owl-prev {
	background-position: left center;
	left: 20px;
}

.reviews_section .owl-next {
	background-position: right center;
	right: 20px;
}

/* order steps */

.order_steps_section {
	padding: 25px 20px 0 20px;
}

.order_steps_section h2 {
	margin: 0 0 25px 0;
}

.order_steps_section .steps_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	text-align: center;
}

.order_steps_section .step_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 40px 30px 0;
	width: 200px;
	letter-spacing: normal;
	position: relative;
}

.order_steps_section .step_item:nth-child(even) {
	margin: 0 0 30px 0;
}

.order_steps_section .step_item .icon {
	margin: 0 auto 15px auto;
	width: 194px;
	height: 194px;
	border: 4px solid #e18d07;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.order_steps_section .step_item:first-child .icon {
	background-image: url("../img/order_steps__step1_icon.png");
}

.order_steps_section .step_item:nth-child(2) .icon {
	background-image: url("../img/order_steps__step2_icon.png");
}

.order_steps_section .step_item:nth-child(3) .icon {
	background-image: url("../img/order_steps__step3_icon.png");
}

.order_steps_section .step_item:last-child .icon {
	background-image: url("../img/order_steps__step4_icon.png");
}

.order_steps_section .step_item .number {
	height: 70px;
	background: #fff;
	font-weight: 700;
	font-size: 60px;
	line-height: 66px;
	position: absolute;
	top: 62px;
	left: -10px;
}

.order_steps_section .step_item p {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

/* footer */

.footer_section {
	padding: 25px 0 22px 0;
	background: #141414;
	font-size: 14px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #ccc;
}
.about_section .wow_txt {
	background-color: #32c2e3;
	color: white;
	padding: 22px 10px;
}

.video-container{
    position: relative;
    width: 100%;
    height: 315px;
    overflow:hidden;
    margin: 0 auto 10px;
}
.video-container iframe, .video-container object, .video-container embed{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }

.errField { display:none; font-size: 14px; background: #f00; color: #fff; text-align: center; padding: 10px; margin-bottom:10px; }
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;       /* Remove default arrow */
	text-align: center;
}
.errorMessage {font-size: 11px;background: rgba(255, 0, 0, 0.64);color: #fff;text-align: center;padding: 5px 10px;position: absolute;margin: 34px 0 0; z-index: 99999; }
